@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cinema";
  src: url("../public/fonts/CinemaGroovyRegular-d9W1g.otf")
  format("opentype");
}
@font-face {
  font-family: "Fancy";
  src: url("../public/fonts/FancyGlowPersonalUse-2OR0o.otf")
  format("opentype");
}
@font-face {
  font-family: "French";
  src: url("../public/fonts/FhaNicholsonFrenchNcvNormal-YgXy.otf")
  format("opentype");
}
@font-face {
  font-family: "Film";
  src: url("../public/fonts/Filmgraph-nRWyY.ttf") format("truetype");
}
@font-face {
  font-family: "Noir";
  src: url("../public/fonts/FilmNoir-6YY8v.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: url("../public/fonts/PromenadedelacroisetteReg-BWLLG.otf")
    format("opentype");
}
@font-face {
  font-family: "SF";
  src: url("../public/fonts/SfMoviePosterCondensedBold-vRZD.ttf")
    format("opentype");
}
